.carousel-item {
  position: relative;
  width: 100%;
 height: 100%;
  min-height: 800px; 
  text-align: center;
  overflow: visible;
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.carousel-img {
  width: 100%;
  height: 78%;
  object-fit: cover;
  filter: grayscale(100%) contrast(100%) brightness(70%);
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
  opacity: 0.5;
  transform: scale(0.96);
}

.carousel-text {
  /* color: #fff; */
  padding: 50px;
  font-size: 1.35rem; 
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
  z-index: 2;
}

.carousel-item.active .carousel-img {
  filter: grayscale(0%) contrast(100%) brightness(100%);
  opacity: 1;
  transform: scale(1.2);
}

.carousel-item.active .carousel-text {
  opacity: 1;
  transform: scale(1.05);
  font-weight: 700;
}
