@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&display=swap');

.processSection {
  background: linear-gradient(135deg, #d9d5d1 0%, #666764 100%); 
  padding: 120px 20px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
}

.heading {
  font-size: 3.5rem;
  color: #1A2434; 
  font-weight: 700;
  margin-bottom: 90px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.step {
  display: flex;
  align-items: center;
  gap: 40px;
  background: rgb(220, 218, 218); 
  border: 2px solid black;
  border-radius: 30px;
  padding: 40px 50px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  opacity: 0;
  transform: translateY(80px);
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.3s ease;
}

.step:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
  border-color: #1A2434; 
}

.icon {
  font-size: 3rem;
  min-width: 90px;
  min-height: 90px;
  color: #FFFFFF; 
  background: linear-gradient(135deg, #1A2434, #293432); 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(26, 36, 52, 0.4); 
}


.content h3 {
  font-size: 1.8rem;
  color: #1A2434; 
  margin: 0;
  font-weight: 600;

}

.content p {
  margin: 10px 0 0;
  color: #555555; 
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 700px;

}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 65px;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #434242, #433e3c); 
  border-radius: 10px;
}

@media (max-width: 1024px) {
 .content h3 {
  font-size: 1.4rem;
  width: 150px;
}
.content p {
  margin:  0;
  font-size: 1.05rem;
  line-height: 1.6;
}

.icon {
  min-width: 70px;
  min-height: 70px;
font-size: 2rem;
}
}

@media (max-width: 768px) {
 .content h3 {
  font-size: 1.4rem;
  width: 150px;
}
.content p {
  margin:  0;
  font-size: 1.05rem;
  line-height: 1.6;
}

.icon {
  min-width: 70px;
  min-height: 70px;
font-size: 2rem;
}
}

@media (max-width: 480px) {
 
.content h3 {
  font-size: 1.4rem;
  width: 150px;
}
.content p {
  margin:  0;
  font-size: 1.05rem;
  line-height: 1.6;
}

.icon {
  min-width: 70px;
  min-height: 70px;
font-size: 2rem;
}

}
